<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Welcome to SnapStereo!</h1>
  
  <h2>
    SnapStereo lets you rate songs in a quick and easy way. Sign in below to get started!
  </h2>
  
  <% if flash.now[:error] %>
    <%= flash.now[:error] %>
  <% end %>
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in"%>
      
    <% end %>
    <%= button_to "Sign Up", signup_path, :method => "get" =%>
   
</div>


